@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
 font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppin {
     font-family: "Poppins", serif;
}

body header nav ul li a  {
    color: rgba(0,0,0,.1);
    opacity: 1;
}
.hero-section {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.section-title {
    margin: 40px 0;
    font-size: 1.8rem;
    color: #000;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
}

.buttonBox ul {
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: #000;
    padding: 5px 30px;
    border-radius: 50px;
    margin-bottom: 0;
}

.buttonBox ul li a {
    color: #fff;
    text-decoration: none;
}

.buttonBox ul li:first-child::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: -18px;
}

.buttonBox ul li {
    position: relative;
}

.mainBanner {
    background-image: url(/poker/images/bgVideo.gif);
    height: calc(100vh - 117px);
    background-size: cover;
}

.navbar-brand img {
    width: 115px;
}


/*https://www.figma.com/design/Xa399TlC72UDFGFwLgeFUc/Arch-City-Poker?node-id=91-12&node-type=frame&t=td9aGmeSlSo0UmCu-0*/